body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin: 0;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #45a049;
}

#minesweeper-game {
    margin-top: 20px;
}

#menu {
    margin-bottom: 20px;
}

#minesweeper-board {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #bbb;
}

.cell.revealed {
    background-color: #ddd;
    cursor: default;
}

.cell.flagged {
    background-color: #ffd700;
}

#timer {
    margin-top: 20px;
    font-size: 20px;
}
